$color-background: rgb(20, 20, 20);
$color-text: rgb(255, 255, 255);
$color-attention: rgb(146, 107, 67);

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: 'Roboto Slab', serif;

$font-weight-sans-serif: 400;
$font-weight-serif: 400;
