.button {
  background: transparent;
  border: 1px solid currentColor;
  border-radius: 3px;
  color: currentColor;
  padding: .5rem 1.5rem;
  text-decoration: none;

  &--intro {
    background-color: $color-attention;
    border-color: darken($color-attention, 10%);
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    padding: .8rem 1.2rem .65rem 1.2rem;
    text-shadow: 1px 1px darken($color-attention, 10%);
    text-transform: uppercase;

    @include medium {
      font-size: 1.4rem;
      padding: 1rem 1.2rem .85rem 1.4rem;
    }

    &:hover,
    &:focus {
      background-color: darken($color-attention, 5%);
    }

    &:active {
      background-color: darken($color-attention, 8%);
    }
  }

  &__icon {
    fill: white;
    height: 1.5rem;
    margin-left: .3rem;
    margin-top: -.3rem;
    vertical-align: middle;
    width: 1.5rem;

    @include medium {
      height: 2.5rem;
      margin-left: 1.5rem;
      width: 2.5rem;
    }
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
  }

  &__subtext {
    display: block;
    font-size: .7rem;
    font-weight: normal;
    margin-top: .1rem;
    text-transform: none;

    @include medium {
      font-size: .8rem;
    }
  }
}
