.header {
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;

  &__button {
    background: transparent;
    border: none;
    color: white;
    display: inline-block;
    float: right;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }
  }

  &__button-icon {
    height: 1.5rem;
    margin-right: .1rem;
    vertical-align: middle;
    width: 1.5rem;
  }

  &__progress {
    background-color: rgba(0, 0, 0, .2);
    height: 1rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__progress-bar {
    background-color: white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width .2s ease-out;
    width: 0;
  }

  &__progress-step {
    background-color: rgb(0, 0, 0);
    display: block;
    height: 1rem;
    position: absolute;
    top: 0;
    width: 1rem;

    &:hover,
    &:focus {
      background-color: rgb(255, 255, 255);
    }
  }
}
