.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4) 10%, transparent);
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: .7rem;
  padding-right: 1.5rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 400;

  &__button {
    background: transparent;
    border: none;
    color: white;
    display: inline-block;
    float: right;
    font-size: .5rem;
    margin-left: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }

    &--is-hidden {
      display: none;
    }

    @include medium {
      font-size: .8rem;
    }
  }

  &__button-icon {
    height: .8rem;
    margin-right: .2rem;
    vertical-align: middle;
    width: .8rem;

    @include medium {
      height: 1.2rem;
      width: 1.2rem;
    }
  }

  &__share {
    color: white;
    display: inline-block;
    float: right;
    font-family: $font-family-sans-serif;
    font-size: .65rem;
    vertical-align: middle;
    width: auto;

    @include medium {
      font-size: .8rem;
    }

    a {
      color: currentColor;
      margin-left: .2rem;
      text-decoration: none;
    }

    a + a {
      margin-left: .8rem;
    }
  }

  &__share-icon {
    height: .8rem;
    vertical-align: middle;
    width: .8rem;

    @include medium {
      height: 1.2rem;
      width: 1.2rem;
    }
  }

  &__progress {
    background-color: $color-attention;
    height: .2rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: width .2s ease-in;
    width: 0;
  }
}
