.video {
  &--fullscreen {
    height: 100%;
    position: absolute;
    width: 100%;

    &,
    > video {
      height: auto;
      min-height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100%;
    }

    &::-webkit-media-controls-play-button,
    &::-webkit-media-controls-start-playback-button {
      opacity: 0;
      pointer-events: none;
      width: 5px;
    }
  }
}
